{% extends 'home/index.html.twig' %}

{% block title %}Compra index{% endblock %}

{% block content %}
    <h1></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha_com</th>
                <th>No_asientos</th>
                <th>Total_asientos</th>
                <th>No_habita</th>
                <th>Total_paquetes</th>
                <th>No_paquetes</th>
                <th>Total_habita</th>
                <th>Total_compra</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.fechaCom ? compra.fechaCom|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ compra.noAsientos }}</td>
                <td>{{ compra.totalAsientos }}</td>
                <td>{{ compra.noHabita }}</td>
                <td>{{ compra.totalPaquetes }}</td>
                <td>{{ compra.noPaquetes }}</td>
                <td>{{ compra.totalHabita }}</td>
                <td>{{ compra.totalCompra }}</td>
                <td>
                    <a href="{{ path('compra_show', {'id': compra.id}) }}">show</a>
                    <a href="{{ path('compra_edit', {'id': compra.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compra_new') }}">Create new</a>
{% endblock %}
