{% extends 'base.html.twig' %}

{% block title %}Places index{% endblock %}

{% block body %}
    <h1>Places index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_lugar</th>
                <th>Cod_city</th>
                <th>Id_pakage</th>
                <th>Name_place</th>
                <th>Longitud</th>
                <th>Latitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.id }}</td>
                <td>{{ place.idLugar }}</td>
                <td>{{ place.codCity }}</td>
                <td>{{ place.idPakage }}</td>
                <td>{{ place.namePlace }}</td>
                <td>{{ place.longitud }}</td>
                <td>{{ place.latitude }}</td>
                <td>
                    <a href="{{ path('places_show', {'id': place.id}) }}">show</a>
                    <a href="{{ path('places_edit', {'id': place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('places_new') }}">Create new</a>
{% endblock %}
