{% extends 'base.html.twig' %}

{% block title %}Hoteles{% endblock %}

{% block body %}
 {% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hoteles
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{% endblock section %}
<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

<a href="#" data-toggle="modal" data-target="#myModal">Login</a>

<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Login & Registro
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">
          <div class="w3_login_module">
            <div class="module form-module">
              <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Haz click</div>
              </div>


               <div>
          <a class="weatherwidget-io" href="https://forecast7.com/es/n0d18n78d47/quito/" data-label_1="QUITO" data-label_2="Clima" data-font="Roboto" data-icons="Climacons" data-theme="sky" >QUITO Clima</a>
          <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
          </script>
        </div>  


              <div class="cta"><a href="#">Forgot your password?</a></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



        <header class="section-header">
          <h2>Hoteles</h2>
          <h3><p>Encuentra los mejores hoteles, cómodos de Ecuador.</p></h3>

        </header>


        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="fas fa-hotel" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="#" data-toggle="modal" data-target="#myModal">Login</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="fas fa-hotel" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="fas fa-hotel" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="fas fa-hotel" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="fas fa-hotel" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="fas fa-hotel" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>

            </div>
          </div>

        </div>
        <div>
          <a class="weatherwidget-io" href="https://forecast7.com/es/n0d18n78d47/quito/" data-label_1="QUITO" data-label_2="Clima" data-font="Roboto" data-icons="Climacons" data-theme="sky" >QUITO Clima</a>
          <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
          </script>
        </div>  
      </div>
    </section><!-- #services -->
{% if is_granted("ROLE_ADMIN") %}
<div class="container">
    <h1>Hoteles</h1>
    <br>
        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">e-mail</th>
                <th scope="col">Sitio web</th>
                <th scope="col">Numero de Cuartos</th>
                {% if is_granted("ROLE_ADMIN") %}
                <th scope="col">Acciones</th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <th scope="row">{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.phone }}</td>
                <td>{{ hotel.email }}</td>
                <td>{{ hotel.webSite }}</td>
                <td>{{ hotel.noRooms }}</td>
                <td>
                {% if is_granted("ROLE_ADMIN") %}
                  <a href="{{ path('hotel_show', {'id': hotel.id}) }}" class="btn btn-info">Ver</a>
                  <a href="{{ path('hotel_edit', {'id': hotel.id}) }}" class="btn btn-secondary">Editar</a>
                {% endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('hotel_new') }}" class="btn btn-primary">Nuevo Elemento</a>
     {% endif %}
    </div>
{% endblock %}
