{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
{% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hoteles
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{% endblock section %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>CityCod</th>
                <td>{{ city.CityCod }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.Name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_index') }}">back to list</a>

    <a href="{{ path('city_edit', {'id': city.id}) }}">edit</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
