{% extends 'base.html.twig' %}

{% block title %}AffCompany index{% endblock %}

{% block body %}
    <h1>AffCompany index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameCompany</th>
                <th>EmailCompany</th>
                <th>CompanyPhone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aff_company in aff_companies %}
            <tr>
                <td>{{ aff_company.id }}</td>
                <td>{{ aff_company.NameCompany }}</td>
                <td>{{ aff_company.EmailCompany }}</td>
                <td>{{ aff_company.CompanyPhone }}</td>
                <td>
                    <a href="{{ path('aff_company_show', {'id': aff_company.id}) }}">show</a>
                    <a href="{{ path('aff_company_edit', {'id': aff_company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aff_company_new') }}">Create new</a>
{% endblock %}
