<div class="card-body">
{{ form_start(form) }}
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fab fa-product-hunt"></i></span>
        </div>
        {{ form_widget(form.name,{ 'attr': {'placeholder': 'Nombre del paquete', 'class': 'form-control' } }) }}
	</div>
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-clock"></i></span>
        </div>
        {{ form_widget(form.duration,{ 'attr': {'placeholder': 'Duración del paquete', 'class': 'form-control' } }) }}
	</div>
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
        </div>
        {{ form_widget(form.date.year,{ 'attr': {'placeholder': 'Precio', 'class': 'form-control' } }) }}
        {{ form_widget(form.date.month,{ 'attr': {'placeholder': 'Precio', 'class': 'form-control' } }) }}
        {{ form_widget(form.date.day,{ 'attr': {'placeholder': 'Precio', 'class': 'form-control' } }) }}
	</div>
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-suitcase-rolling"></i></span>
        </div>
        {{ form_widget(form.extras,{ 'attr': {'placeholder': 'Extras', 'class': 'form-control' } }) }}
	</div>
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-file-alt"></i></span>
        </div>
        {{ form_widget(form.description,{ 'attr': {'placeholder': 'Descripción', 'class': 'form-control' } }) }}
	</div>
    <div class="input-group form-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
        </div>
        {{ form_widget(form.price,{ 'attr': {'placeholder': 'Precio', 'class': 'form-control' } }) }}
	</div>
  <div class="input-group mb-3">
  {{ form_widget(form.imageFile.file) }}
  <div class="ancho">
  {{ form_widget(form.imageFile) }}
  </div>
  </div>
 
    <div class="form-group">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
        <a href="{{ path('paquetes_index') }}" class="btn btn-secondary">Regresar</a>
	</div> 
{{ form_end(form) }}
</div>
