{% extends 'base.html.twig' %}

{% block title %}Paquetes{% endblock %}

{% block body %}
{% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Paquetes
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{% endblock section %}
</br>
<div class="container">
    <div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
		    <div class="title text-center">
		        <h1 class="mb-10">Paquetes</h1>
		    </div>
		</div>
	</div>
</div>
{% if is_granted("ROLE_USER") %}
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Duración</th>
                <th scope="col">Extras</th>
                <th scope="col">Fecha</th>
				<th scope="col">Imagen</th>
                <th scope="col">Precio</th>
                <th scope="col">Aciones</th>
            </tr>
        </thead>
        <tbody>
        {% for paquete in paquetes %}
            <tr>
                <td>{{ paquete.id }}</td>
                <td>{{ paquete.name }}</td>
                <td>{{ paquete.description }}</td>
                <td>{{ paquete.duration }}</td>
                <td>{{ paquete.extras }}</td>
				<td>{{ paquete.date ? paquete.date|date('Y-m-d') : '' }}</td>
				<td><img src="{{ vich_uploader_asset(paquete, 'imageFile') }}" alt="{{ paquete.name }}" height="40"/></td>
                <td>{{ paquete.price }}</td>
                <td>
                    <a href="{{ path('paquetes_show', {'id': paquete.id}) }}" class="btn btn-info">Detalles</a>
                    <a href="{{ path('paquetes_edit', {'id': paquete.id}) }}" class="btn btn-dark">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay paquetes disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paquetes_new') }}" class="btn btn-primary">Nuevo Paquete</a>
</div>
</div>
</br>
{% else %}
<!-- Start destinations Area -->
<section class="destinations-area section-gap">
	<div class="container">
		<div class="row">
        {% for paquete in paquetes %}
            <div class="col-lg-4">
				<div class="single-destinations">
					<div class="thumb">
						<img src="{{ vich_uploader_asset(paquete, 'imageFile') }}" alt="{{ paquete.name }}"/>
					</div>
					<div class="details">
					<h4>{{ paquete.name }}</h4>
					<p>
					{{ paquete.description }}
					</p>
					<ul class="package-list">
						<li class="d-flex justify-content-between align-items-center">
							<span>Duracion:</span>
							<span>{{ paquete.duration }}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Fecha:</span>
							<span>{{ paquete.date ? paquete.date|date('Y-m-d') : '' }}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Extras:</span>
							<span>{{ paquete.extras }}</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Precio por persona:</span>
							<a href="#" class="price-btn">$ {{ paquete.price }}</a>
						</li>
					</ul>
					</div>
				</div>
			</div>
        {% else %}
            <div class="title text-center">
		        <h1 class="mb-10">No hay paquetes disponibles</h1>
		    </div>
        {% endfor %}
        </div>
    </div>
</section>
<!-- End destinations Area -->
{% endif %}
<br>
{% endblock %}
