{% extends 'base.html.twig' %}

{% block title %}Paquetes{% endblock %}

{% block body %}
  {% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Paquetes				
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
{% endblock section %}
</br>
<div class="container">
    <h1>Paquetes</h1>
    <br>
        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre</th>
                <th scope="col">Número de días</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for paquete in paquetes %}
            <tr>
                <th scope="row">{{ paquete.id }}</td>
                <td>{{ paquete.name }}</td>
                <td>{{ paquete.noDays }}</td>
                <td>{{ paquete.description }}</td>
                <td>
                    <a href="{{ path('paquetes_show', {'id': paquete.id}) }}" class="btn btn-info">Ver</a>
                    <a href="{{ path('paquetes_edit', {'id': paquete.id}) }}" class="btn btn-secondary">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paquetes_new') }}"class="btn btn-primary">Nuevo Elemento</a>
    </div> 
{% endblock %}
