{% extends 'base.html.twig' %}

{% block title %}Paquetes{% endblock %}

{% block body %}
{% block section %}
    <!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Paquetes
					</h1>
				</div>
			</div>
		</div>
    </div>
</section>
			<!-- End banner Area -->
{% endblock section %}
</br>
<div class="container">
    <div class="row d-flex justify-content-center">
		<div class="menu-content pb-40 col-lg-8">
		    <div class="title text-center">
		        <h1 class="mb-10">Paquetes</h1>
		    </div>
		</div>
	</div>
</div>

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nº</th>
                <td>{{ paquete.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paquete.name }}</td>
            </tr>
            <tr>
                <th>Descriptión</th>
                <td>{{ paquete.description }}</td>
            </tr>
            <tr>
                <th>Duración</th>
                <td>{{ paquete.duration }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ paquete.date ? paquete.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Extras</th>
                <td>{{ paquete.extras }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ vich_uploader_asset(paquete, 'imageFile') }}" alt="{{ paquete.name }}" height="200"/></td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ paquete.price }}</td>
            </tr>
            
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <a href="{{ path('paquetes_index') }}" class="btn btn-secondary">Regresar</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('paquetes_edit', {'id': paquete.id}) }}" class="btn btn-dark">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {{ include('paquetes/_delete_form.html.twig') }}
        </div>
    </div>
    </br>
</div>
{% endblock %}
